body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: Regular;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 2%;
}

.body-medium {
  color: #2e2f42;
  font-weight: medium;
  text-decoration: none;
}

header {
  background-color: #e7e9fc;
}
.title-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.title-button:hover,
.tittle-button:focus,
.title-button:active {
  background-color: #404bbf;
}

.contact-links {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration: none;
}

.contact-links:hover,
.contact-links:active {
  color: #404bbf;
}

.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-accent-footer {
  color: #fff;
}

.our-team-section {
  background-color: #f4f4fd;
}

.title-section {
  background-color: #2e2f42;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.title-section-features {
  color: #2e2f42;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: medium;
  font-size: 20px;
}

footer {
  background-color: #2e2f42;
}
