body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-list {
  list-style-type: none;
}
.navigation {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:active,
.navigation:focus {
  color: #404bbf;
}

.address-links {
  font-style: normal;
}

.address-list {
  list-style-type: none;
}
.contact-links {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-links:hover,
.contact-links:active,
.contact-links:focus {
  color: #404bbf;
}

.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

.custom-footer {
  background-color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: #f4f4fd;
}

.title-section {
  background-color: #2e2f42;
}

.page-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.title-button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.title-button:hover,
.title-button:focus,
.title-button:active {
  background-color: #404bbf;
}

.features-list {
  list-style-type: none;
}

.elements-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.elements-text {
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  list-style-type: none;
}
.team-cards {
  background-color: #fff;
}

.portfolio-list {
  list-style-type: none;
}
